{% extends "base.html" %}

{% load bootstrap3 %}

{% block page_title %}{{ exchange.name }} - Edit Exchange{% endblock %}

{% block content %}

    <form method="post" action=".">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Edit Exchange</button>
        <a href="{% url 'exchange-delete' exchange.id %}" class="btn btn-danger" onclick='return confirm("Delete this exchange?")'>Delete Exchange</a>
        <a href="{% url 'exchange-list' %}" class="muted">Cancel</a>
    </form>

    <h2>People</h2>

    <a href="{% url 'exchange-users-create' exchange.id %}">Add Person</a>

    {% if user_exchanges %}
        <ul>
            {% for user_exchange in user_exchanges %}
                <li>{{ user_exchange.user.email }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock%}
