{% extends "base.html" %}

{% block page_title %}Exchanges{% endblock %}

{% block content %}

    <a href="{% url 'exchange-create' %}">Add Exchange</a>

    {% if user_exchanges %}
        <ul>
            {% for user_exchange in user_exchanges %}
                <li><a href="{% url 'exchange-edit' user_exchange.exchange.id %}">{{ user_exchange.exchange.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You haven't added any exchanges yet.</p>
    {% endif %}

{% endblock%}
